@font-face {
    font-family: RobotoSlab;
    src: url(Font/RobotoSlab-Regular.ttf);
}

body{
    background: #001e4d;
    font-family: RobotoSlab;
}

.quiz{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 80px auto 0;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.quiz>h1 {
    font-size: 35px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 20px;
}

.qna{
    padding: 10px 0;
}

.qna>h2 {
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    text-align: left;
}

.ans-btn{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
}

.ans-btn:hover{
    background: #222;
    color: #fff;
}

.selected{
    background-color: #222;
    color: #fff;
}

.next-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    padding: 10px;
    margin: 0 auto 0;
    text-align: left;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    /* display: none;    */
    text-align: center;
}

.scores{
    display: none;
}

.score-card{
    color: #001e4d;
    font-weight: 600;
    width: 100%;
}

.fa-solid{
    color: goldenrod;
    font-size: 100px;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

.play-again-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    padding: 10px;
    margin: 0 auto 0;
    text-align: left;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    display: none;   
    text-align: center;
}